@import "~/styles/constants";

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 7px 16px;
  border-radius: $border-radius8;
  font-size: 12px;
  line-height: 18px;
  font-family: Poppins, sans-serif;
  font-weight: 700;

  &:hover {
    cursor: pointer;
  }

  img {
    height: 16px;
    margin-right: 4px;
  }

  @media (max-width: $breakpoint-phone) {
    margin-top: 8px;
  }
}

.containerSmall {
  @extend .container;
  max-width: 100px;
}
