@import "~/styles/constants";
@import "~/styles/noSelect";
@import "~/styles/titles";

// Awful copy-pasta, try to remove:
.container {
  min-height: 80vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;

  max-width: 100%;
  @media (max-width: $breakpoint-phone) {
    max-width: 564px;
  }
  margin-left: auto;
  margin-right: auto;
  font-family: "Manrope", sans-serif;
}