@import "~/styles/constants";
@import "~/styles/noSelect";
@import "~/styles/titles";

// Awful copy-pasta, try to remove:
.container {
  min-height: 80vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;

  max-width: 100%;
  @media (max-width: $breakpoint-phone) {
    max-width: 564px;
  }
  margin-left: auto;
  margin-right: auto;
  font-family: "Manrope", sans-serif;
}

.containerLight {
  @extend .container;
  background-color: #ebf3fe;

  .walletButtonContainer {
    margin-top: 1em;
  }

  .myProfileTitle {
    font-weight: 600;
    font-size: 1rem;
    text-align: center;
  }

  .totalStakedContainer {
    margin-top: 4rem;
    margin-bottom: auto;
    padding-bottom: 24px;
  }
}
