$breakpoint-phone: 568px;
$breakpoint-tablet: 1024px;

$border-radius8: 8px;

$lightest-blue: #f2f6ff;
$light-blue: #b0edf7;
$dark-blue: #1e6bff;
$darkest-blue: #0b30f5;

$lightest-gray: #f5f5f5;
$light-gray: #ededed;
// $light-mid-gray: #bbbbbb;
$light-mid-gray: #757575;
// $mid-gray: #737373;
$mid-gray: #525252;
$dark-gray: #262626;

$purple: #b21ff1;
